@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('reset.css');



body{
/*    background-color: antiquewhite;*/
}


body,html,{
    height: 100%;
}

.ui-slider-vertical {
    display: block;  !important;
    line-height: 5;  !important;
    font-size: 11px; !important;
    background-color: white; !important;
}

.ui-widget-header{
    background-color: transparent; !important;
}

.ui-widget.ui-widget-content {
    border: none; !important;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    height: 20px;!important;
    width: 20px;!important;
    position: absolute;
    background-image: url("Media/button.png"); !important;
    background-size: cover; !important;
    background-repeat: no-repeat;
    border: none;!important;
   
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url("Media/PlayerConsole.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns:12% 10% 10% 10% 25% 5% 8% 19%;
    grid-template-rows:10% 70% 5% 15%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.vinyl{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  position:relative;
  background-image: url(Media/VinylMatte.png);
  width: 100%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.button1{
   width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  position:relative;
  background-image: url(Media/Button1.png);
  background-size: contain;
  background-repeat: no-repeat;
/*  opacity: 0.8;*/
    
    
}

/*
.button1:hover{
    opacity: 1;
}
*/
.button2{
   width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  position:relative;
  background-image: url(Media/Button2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.button3{
   width: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  position:relative;
  background-image: url(Media/Button3.png);
  background-size: contain;
  background-repeat: no-repeat;
  
}

.pin{
  width: 100%;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  position:relative;
  background-image: url(Media/Pin.png);
  background-size: 100%;
  background-repeat: no-repeat; 
  transform:rotate(0deg);
  transform-origin: 60% 20%;
}

.slider{
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  position:relative;
 background-image: url(Media/Slider.png);
  top: 40px;
  background-size: contain;
  background-repeat: no-repeat; 
}

section{
    min-height: 100%;
}
th{
    width:100%;
}

.tail {
    position: absolute;
    z-index:3;
    height: 30px; width: 30px;
    border-radius: 30px;
    opacity: 0;
    background: tomato;
  }


/*

#slider-vertical{
    display: none;
    position: absolute;
    float: left;
    height: 14px;
    width: 200px;
    top: 35px;
    background-color: rgba(102, 102, 102, 0.90);
    padding : 10px;
    z-index: 2;
}
*/



.nav:hover .hoome{
  display: block;
}

.hoome{
    display:none;
    text-align: left;
    position: relative;
    bottom:40px;
    left:60px;
    color:white;
    font-family: 'Futura-CondensedExtraBold';
    font-size:30px;
}



#titlepage{
  /*  background-color:#f1cd39; 
    background-image: url(../Home-Assets/Image/BG/bg_1-01.png);
    background-size:100%; */
    width: 100%;
    height: 620px;
    padding-top:50px;
    padding-left:10px;
    position: absolute;
}

#titleimage{ 
    position: absolute;
    left: 500px;
    top: 100px;
    z-index: 1;
    width:600px;
    height:600px;

}

.masterContainer{
/*    background-image:url('../../Media/ContentPage_bg-02.png'); 
    background-size:cover; */
    display: grid;
    grid-gap: 0px;
    grid-template-columns:15% 15% 20% 20% 15% 10% 5%;
    grid-template-rows:15% 60% 25%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(Media/Desktop-01.png);
    background-size:cover;
    
}

.childContainer1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  position:relative;
  
/*
  position: absolute;
  z-index: 0;
*/

 
}
.childContainer2{
  grid-column-start: 4;
  grid-column-end: 6 ;
  grid-row-start: 2;
  grid-row-end: 3; 

  position:relative;
/*
  position: absolute;
  z-index: 0;
*/

}

.album{
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3; 
   background-image:url("Media/VS.png");
   background-size:contain;
   background-repeat: no-repeat;
   background-position: center;

   position:relative;
   z-index: 1;


}

.p{
   display:none;
}
.record{
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 2;
   grid-row-end: 3; 
       
/*
   position: absolute;
   z-index: 1;
*/
 position:relative;
 right:150px;
 z-index: 0;
 background-image:url("Media/Vinyl3.png");
 background-size:contain;
 background-repeat: no-repeat;
 background-position: center;
}

.handle{
   grid-column-start: 5;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 4; 
   position:relative;
   z-index: 3;
   transform: rotate(-20deg); 
   transform-origin: bottom;
   background-image:url("Media/VinylHandle2.png");
   background-repeat: no-repeat;
   background-position:bottom;
}
.player{
   grid-column-start: 5;
   grid-column-end: 7;
   grid-row-start: 3;
   grid-row-end: 4; 
   position:relative;
   z-index: -1;
   background-image: url(Media/Player-01.png);
   background-size:cover;
   background-repeat: no-repeat; 
}

.masterContainer{
/*    background-image:url('../../Media/ContentPage_bg-02.png'); 
    background-size:cover; */
    display: grid;
    grid-gap: 0px;
    grid-template-columns:15% 15% 20% 20% 15% 10% 5%;
    grid-template-rows:15% 60% 25%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.show:hover .hiddentext{
    transition-duration: 1s;
    display:block;
}


.rotating {
   -webkit-animation: rotation 2s infinite linear;
    -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.rotate {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);



    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}

.rotateback{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);



    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}

.hiddentext{
    font-size: 20px;
    color:white;
    display:none;
}
.header{
  text-align:right;
  font-family: 'Futura-Bold';
  font-size:70px;
  width:75%;
  position: relative;
  z-index:2;
  left:100px;
  top:150px;
  color: white;
}

#header2{
  text-align:right;
  font-family: 'Futura-Bold';
  font-size:70px;
  color: white;
  position: relative;
  top:75px;
}
.header3{
  text-align:left;
  font-family: 'Futura-Bold';
  font-size:70px;
  color: white;
  position: relative;
  
}

p{
  font-family:'Futura';
}

.subheader:hover{
    transition: transform 1s;
    transform: scale(1.2);
}


.subheader{
  font-family: 'Futura-Bold';
  font-size:40px;
  width:100%;
  text-align:left;
  padding-top:20px;
  color:white;   
  position: absolute;
  z-index:2;
  top:220px;
  left:500px;
     
}

.row {
    height:700px;
    width:100%;
    padding-top: 20px;

}
/*.row::after {
  content: "";
  clear: both;
  display: table;
}*/
.column {
   float: left;
   width: 33.3%;
   padding: 15px;
}
.workdescription{
  width: 25%;
  float: left;
  display:inline-block;
}
p{
  display:inline-block;
}

/* Clear floats after the columns */



/*.subsubpage{
    float: left;
    width:50%;
    background-image: url('../Home-Assets/Image/BG/bg_1-01.png');
    background-repeat:no-repeat;
    background-position:center;
    position:inherit;
    background-size:contain;
} */



/* Clear floats after image containers */
splay: table;
}
.subsubpage2{
    background-color: powderblue;
    width:100%
}
.flex-container {
  display: flex;
  height:800px
}

#infoPage{
/*    background-color:whitesmoke; */
    width: 100%;
    height:750px;
}

.wholepage{
    height:3000px;
    background: linear-gradient(rgb(221,39,143), rgb(42,156,180), black);
}

/*h1{
    text-align: center;
    position:inherit;
    font-size: 7vw;
    font-family: 'Futura';
    padding-top:120px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:100px; 
    color:black;
}*/

}
/*#navtab:hover{
      transform:scale(1,1.2);
      transition-duration:1s;
      transition-timing-function: ease;
}*/

h2{
    text-align: left;
    position: relative;
    bottom:10px;
    color:white;
    font-family: 'Futura-CondensedExtraBold';
    font-size:30px;
    }
.navbar{
  color:white;

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

