@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('reset.css');

body{
    background-color: white;
}
th{
    width:100%;
}

.tail {
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: tomato;
  }

#upperelement{
  height:700px;
 /* background-image:url('../../Media/TitlePage-01.png'); */
/*  background-size:cover;*/
/*
  border-radius:0px;
  border:0px;
    
*/
}

.nav{
  width:8%;
  position:fixed;
  top:0;
  height:10px; 
  z-index:2;
  
}

.nav img{
  width:30px;
  padding:10px;

}

.nav:hover .hoome{
  display: block;
}

.hoome{
    display:none;
    text-align: left;
    position: relative;
    bottom:40px;
    left:60px;
    color:white;
    font-family: 'Futura-CondensedExtraBold';
    font-size:30px;
}



#titlepage{
  /*  background-color:#f1cd39; 
    background-image: url(../Home-Assets/Image/BG/bg_1-01.png);
    background-size:100%; */
    width: 100%;
    height: 620px;
    padding-top:50px;
    padding-left:10px;
    position: absolute;
}

#titleimage{ 
    position: absolute;
    left: 500px;
    top: 100px;
    z-index: 1;
    width:600px;
    height:600px;

}

#contentpage{
/*    background-image:url('../../Media/ContentPage_bg-02.png'); 
    background-size:cover; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns:5% 35% 5% 45% 10% ;
    grid-template-rows:17% 7% auto 15%;
    width: 100%;
    height: 750px;
}

.item-1{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:seashell;
 
}
.item-2{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4; 
  background-color:antiquewhite;    
}

.item-3{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

}
.item-4{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;   
}


.show:hover .hiddentext{
    transition-duration: 1s;
    display:block;
}








.hiddentext{
    font-size: 20px;
    color:white;
    display:none;
}
.header{
  text-align:right;
  font-family: 'Futura-Bold';
  font-size:70px;
  width:75%;
  position: relative;
  z-index:2;
  left:100px;
  top:150px;
  color: white;
}

#header2{
  text-align:right;
  font-family: 'Futura-Bold';
  font-size:70px;
  color: white;
  position: relative;
  top:75px;
}
.header3{
  text-align:left;
  font-family: 'Futura-Bold';
  font-size:70px;
  color: white;
  position: relative;
  
}

p{
  font-family:'Futura';
}

.subheader:hover{
    transition: transform 1s;
    transform: scale(1.2);
}


.subheader{
  font-family: 'Futura-Bold';
  font-size:40px;
  width:100%;
  text-align:left;
  padding-top:20px;
  color:white;   
  position: absolute;
  z-index:2;
  top:220px;
  left:500px;
     
}

.row {
    height:700px;
    width:100%;
    padding-top: 20px;

}
/*.row::after {
  content: "";
  clear: both;
  display: table;
}*/
.column {
   float: left;
   width: 33.3%;
   padding: 15px;
}
.workdescription{
  width: 25%;
  float: left;
  display:inline-block;
}
p{
  display:inline-block;
}

/* Clear floats after the columns */



/*.subsubpage{
    float: left;
    width:50%;
    background-image: url('../Home-Assets/Image/BG/bg_1-01.png');
    background-repeat:no-repeat;
    background-position:center;
    position:inherit;
    background-size:contain;
} */



/* Clear floats after image containers */
splay: table;
}
.subsubpage2{
    background-color: powderblue;
    width:100%
}
.flex-container {
  display: flex;
  height:800px
}

#infoPage{
/*    background-color:whitesmoke; */
    width: 100%;
    height:750px;
}

.wholepage{
    height:3000px;
    /*background: linear-gradient(rgb(221,39,143), rgb(42,156,180), black);*/
}

/*h1{
    text-align: center;
    position:inherit;
    font-size: 7vw;
    font-family: 'Futura';
    padding-top:120px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:100px; 
    color:black;
}*/

}
/*#navtab:hover{
      transform:scale(1,1.2);
      transition-duration:1s;
      transition-timing-function: ease;
}*/

h2{
    text-align: left;
    position: relative;
    bottom:10px;
    color:white;
    font-family: 'Futura-CondensedExtraBold';
    font-size:30px;
    }
.navbar{
  color:white;

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

